<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>商品列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" href="../style/admin.css" th:href="@{/style/admin.css}" media="all">
    <script src="../layui/layui.js" th:src="@{/layui/layui.js}"></script>
    <script src="../layui/jquery-1.8.3.js" th:src="@{/layui/jquery-1.8.3.js}"></script>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">


            <!--表格头-->
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">商品名称</label>
                    <div class="layui-input-block">
                        <input type="text" id="title" name="title" placeholder="请输入" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">商品描述</label>
                    <div class="layui-input-block">
                        <input type="text" id="detailDesc" name="detailDesc" placeholder="请输入" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-admin" data-type="search_table">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                    <button class="layui-btn layuiadmin-btn-admin" data-type="clear">
                        重置搜索
                    </button>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">商品类别</label>
                    <div class="layui-input-block">
                        <select name="categoryId" id="categoryId" lay-filter="changeCategory">
                            <option value="0">无区分</option>
                            <option th:each="category : ${session.categoryInfo}" th:value="${category.id}"
                                    th:text="${category.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">商品状态</label>
                    <div class="layui-input-block">
                        <select name="status" id="status" lay-filter="changeStatus">
                            <option value="0" selected>无区分</option>
                            <option value="2">已上架</option>
                            <option value="1">已下架</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>


        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-admin" data-type="batchDel">批量下架</button>
                <button class="layui-btn layuiadmin-btn-admin" data-type="add">添加</button>
            </div>


            <table id="myTable" lay-filter="myTable"></table>


            <script type="text/html" id="imgTpl">
                <img style="display: inline-block; width: auto; height: 40px;" src={{ d.coverImg }}>
            </script>
            <script type="text/html" id="table_admin">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
                        class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="remove"><i
                        class="layui-icon layui-icon-engine"></i>下架</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>

<script>
    layui.use(['jquery', 'layer', 'table', 'form'], function () {
        let $ = layui.jquery
            , table = layui.table
            , layer = layui.layer
            , form = layui.form;

        table.render({
            elem: '#myTable',
            url: '/listGoods', //数据接口
            title: '用户列表',
            height: 472,
            size: 'lg',
            page: true,
            limit: 10,
            limits: [10, 20, 30],
            cols: [
                [ //表头
                    {type: 'checkbox', fixed: 'left'},
                    {field: 'title', align: 'center',title: '名称', width: 172},
                    {field: 'coverImg', align: 'center',title: '头图', width: 111, toolbar: "#imgTpl"},
                    {field: 'detailDesc', align: 'center',title: '详细描述', width: 553},
                    {field: 'price',align: 'center', title: '价格', width: 115},
                    {field: 'createTime', align: 'center',title: '上架时间', width: 167, templet: "<div>{{layui.util.toDateString(d.createTime, 'yyyy-MM-dd HH:mm:ss')}}</div>"},
                    {field: 'categoryName', align: 'center',title: '品类名称', width: 115},
                    {
                        field: 'status', title: '状态', width: 116
                        , templet: function (row) {
                            if (row.status == 2) {
                                return '<a class="layui-btn layui-btn-success layui-btn-xs">已上架</a>';
                            } else if (row.status == 1) {
                                return '<a class="layui-btn layui-btn-warm layui-btn-xs">已下架</a>';
                            }
                        }
                    },
                    {fixed: 'right', title: '操作', width: 240, align: 'center', toolbar: '#table_admin'}
                ]
            ],
            //用于搜索结果重载
            id: 'tableReload'
        });


        //事件
        var active = {
            //搜索功能
            search_table: function () {
                let title = $('#title');
                let detailDesc = $('#detailDesc');
                let categoryId = $('#categoryId');
                let status = $('#status');

                // console.log(title.val(), detailDesc.val(), categoryId.val(), status.val());

                table.reload('tableReload', {
                    method: 'post',
                    page: {
                        curr: 1
                    },
                    where: {
                        title: title.val(),
                        detailDesc: detailDesc.val(),
                        categoryId: categoryId.val(),
                        status: status.val()
                    }
                })
            },

            clear: function () {
                $('#title').val('');
                $('#detailDesc').val('');
            },

            //添加用户功能
            add: function () {
                layer.open({
                    type: 2,
                    title: '添加商品',
                    content: '/toAddGoods',
                    area: ['700px', '800px'],
                });
            },
            //批量删除功能
            batchDel: function () {
                var checkAll = table.checkStatus('tableReload')
                    , checkData = checkAll.data; //得到选中的数据

                if (checkData.length === 0) {
                    return layer.msg('请选择数据');
                }

                layer.confirm('确定删除吗？', function () {
                    let checkId = new Array();
                    for (let i = 0; i < checkData.length; i++) {
                        checkId[i] = checkData[i].id;
                    }
                    console.log(checkId);

                    $.ajax({
                        url: '/removeGoods',
                        dataType: 'json',
                        type: "post",
                        contentType: 'application/json',
                        data: JSON.stringify(checkId),
                        success: function (res) {
                            if (res.code == 0) {
                                table.reload('tableReload');
                            }
                            layer.msg(res.msg);
                        }
                    })
                });

            }

        };

        $('.layui-btn.layuiadmin-btn-admin').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        function edit(data) {
            layer.open({
                type: 2,
                title: '修改商品信息',
                area: ['700px', '800px'],
                content: '/toAddGoods?id=' + data.id,
            });
        }

        function remove(data) {
            let checkId = new Array();
            checkId[0] = data.id;
            $.ajax({
                url: '/removeGoods',
                dataType: 'json',
                type: "post",
                contentType: 'application/json',
                data: JSON.stringify(checkId),
                success: function (res) {
                    if (res.code == 0) {
                        table.reload('tableReload');
                    }
                    layer.msg(res.msg);
                }
            })
        }

        function del(data, object, index) {
            $.ajax({
                url: '/delGoods',
                type: "post",
                data: {id: data.id},
                success: function (res) {
                    if(res.code == 0){
                        object.del();
                        layer.close(index);
                    }
                    layer.msg(res.msg);
                }
            })
        }

        table.on('tool(myTable)', function (object) {
            let data = object.data;
            let event = object.event;

            if (event == 'edit') {
                edit(data);
            } else if (event == 'remove') {
                remove(data);
            } else if (event == 'del') {
                layer.confirm('真的要删除吗', function (index) {
                    del(data, object, index);
                })
            }
        });


        form.on('select(changeCategory)', function (object) {
            let title = $('#title');
            let detailDesc = $('#detailDesc');
            let status = $('#status');
            // console.log(object.value)
            table.reload('tableReload', {
                method: 'post',
                page: {
                    curr: 1
                },
                where: {
                    title: title.val(),
                    detailDesc: detailDesc.val(),
                    categoryId: object.value,
                    status: status.val()
                }
            })
        });

        form.on('select(changeStatus)', function (object) {
            let title = $('#title');
            let detailDesc = $('#detailDesc');
            let categoryId = $('#categoryId');
            // console.log(object.value)
            table.reload('tableReload', {
                method: 'post',
                page: {
                    curr: 1
                },
                where: {
                    title: title.val(),
                    detailDesc: detailDesc.val(),
                    categoryId: categoryId.val(),
                    status: object.value
                }
            })
        });

    });
</script>
</body>
</html>
