<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--头部公共片段-->
<head th:fragment="head(title)">
    <meta charset="utf-8">
    <title th:replace="${title}"></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" href="/static/style/admin.css" th:href="@{/style/admin.css}" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/login.css" th:href="@{/style/login.css}" media="all">
    <script src="../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
</head>


<body>

</body>
</html>