<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>设置我的资料</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" href="../style/admin.css" th:href="@{/style/admin.css}" media="all">
    <script src="../layui/layui.js" th:src="@{/layui/layui.js}"></script>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">设置我的资料</div>
                <div class="layui-card-body" pad15>

                    <div class="layui-form" lay-filter="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="loginName" value="schoolGO"
                                       th:value="${user == null} ? '' : ${user.loginName}" readonly class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">不可修改。一般用于后台登入名</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">昵称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="userName" value="lmz"
                                       th:value="${user == null} ? '' : ${user.userName}" lay-verify="nickname"
                                       autocomplete="off"
                                       placeholder="请输入昵称" class="layui-input">
                            </div>
                        </div>
                        <input type="hidden" id="userId" name="id" th:value="${user == null} ? '' : ${user.id}"/>

                        <div class="layui-form-item">
                            <label class="layui-form-label">头像</label>
                            <div class="layui-input-inline">
                                <input name="headImg" lay-verify="required" id="LAY_avatarSrc" placeholder="图片地址"
                                       th:value="${user == null} ? '' : ${user.headImg}" class="layui-input">
                            </div>
                            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                                <button type="button" class="layui-btn layui-btn-primary" id="LAY_avatarUpload">
                                    <i class="layui-icon">&#xe67c;</i>上传图片
                                </button>
                                <button class="layui-btn layui-btn-primary" id="avatarPreview">查看图片
                                </button>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">手机</label>
                            <div class="layui-input-inline">
                                <input type="text" name="phoneNum" value=""
                                       th:value="${user == null} ? '' : ${user.phoneNum}" lay-verify="phone"
                                       autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">邮箱</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" value="" th:value="${user == null} ? '' : ${user.email}"
                                       lay-verify="email" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="resetInfo">确认修改</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.config({
        base: '../' //静态资源所在路径
    }).use(['jquery', 'layer', 'form', 'upload'], function () {
        let $ = layui.jquery,
            upload = layui.upload,
            layer = layui.layer,
            form = layui.form;

        let up = $("#LAY_avatarSrc");

        //图片上传功能
        upload.render({
            url: "/uploadHead",
            elem: "#LAY_avatarUpload",
            accept: "images",
            data: {
              id: function () {
                  return $("#userId").val();
              }
            },
            done: function (res) {
                if (res.code == 0) {
                    up.val(res.data.url);
                    layer.msg(res.msg, {icon: 1, time: 1000});
                } else {
                    layer.msg(res.msg)
                }
            },
            error: function (res) {
                layer.msg(res.msg)
            }
        });

        //展示图片功能
        $("#avatarPreview").click(function () {
            let url = up.val();
            layer.photos({photos: {title: "查看头像", data: [{src: url}]}, shade: .01, closeBtn: 1, anim: 5})
        })

        form.verify({
            //校验用户名
            nickname: function (t, i) {
                return new RegExp("^[a-zA-Z0-9_一-龥\\s·]+$").test(t) ? /(^\_)|(\__)|(\_+$)/.test(t) ? "用户名首尾不能出现下划线'_'" : /^\d+\d+\d$/.test(t) ? "用户名不能全为数字" : void 0 : "用户名不能有特殊字符"
            }
        }), form.on("submit(resetInfo)", function (data) {
            //更新用户信息功能
            let items = data.field;
            $.ajax({
                url: "/updateUser",
                type: "post",
                data: items,
                success: function (res) {
                    layer.msg(res.msg);
                }
            })
        })
    });
</script>
</body>
</html>