<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>文章管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" href="../style/admin.css" th:href="@{/style/admin.css}" media="all">
    <script src="../layui/layui.js" th:src="@{/layui/layui.js}"></script>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">


            <!--表格头-->
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">评论用户名</label>
                    <div class="layui-input-block">
                        <input type="text" id="userNickName" name="userNickName" placeholder="请输入" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">文章标题</label>
                    <div class="layui-input-block">
                        <input type="text" id="articleTitle" name="articleTitle" placeholder="请输入" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-admin" data-type="search_table">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>


        <div class="layui-card-body">


            <table id="myTable" lay-filter="myTable"></table>


            <script type="text/html" id="imgTpl">
                <img style="display: inline-block; width: 45%; height: 100%; border-radius: 50%" src={{ d.avatar }}>
            </script>
            <script type="text/html" id="table_admin">
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-delete"></i>删除评论</a>
            </script>
        </div>
    </div>
</div>

<!--  <script src="../layui/layui.js"></script>  -->
<script>
    layui.config({
        base: '../'
    }).use(['jquery', 'layer', 'table'], function () {
        var $ = layui.$
            , jquery = layui.jquery
            , table = layui.table
            , layer = layui.layer;

        table.render({
            elem: '#myTable',
            url: '/listComment', //数据接口
            title: '用户列表',
            height: 472,
            page: true,
            limit: 10,
            limits: [10, 20, 30],
            cols: [
                [ //表头
                    {field: 'id', title: '留言id', width: 100, align: "center"},
                    {field: 'userNickName', title: '用户名', width: 130},
                    {field: 'userId', title: '用户id', width: 106, align: "center"},
                    {field: 'avatar', title: '用户头像', width: 98, align: "center", toolbar: "#imgTpl"},
                    {field: 'content', title: '评论内容', width: 477},
                    {field: 'createTime', title: '发布时间', width: 165, templet: "<div>{{layui.util.toDateString(d.createTime, 'yyyy-MM-dd HH:mm:ss')}}</div>"},
                    {field: 'articleId', title: '文章id', width: 96, align: "center"},
                    {field: 'articleTitle', title: '文章标题', width: 254},
                    {field: 'commend', title: '点赞数', width: 83, align: "center"},
                    {fixed: 'right', title: '操作', width: 120, align: 'center', toolbar: '#table_admin'}
                ]
            ],
            //用于搜索结果重载
            id: 'tableReload'
        })
        //事件
        var active = {
            //搜索功能
            search_table: function () {
                let userNickName = $('#userNickName');
                let articleTitle = $('#articleTitle');

                table.reload('tableReload', {
                    method: 'post',
                    page: {
                        curr: 1
                    },
                    where: {
                        userNickName: userNickName.val(),
                        articleTitle: articleTitle.val()
                    }
                })
            },
        };

        $('.layui-btn.layuiadmin-btn-admin').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        function detail(data) {
            layer.open({
                type: 2,
                title: '文章详情',
                area: ['500px', '800px'],
                content: '/toArticleDetail?id=' + data.id,
            });
        }

        function del(data,object,index) {
            let checkId = data.id;
            $.ajax({
                url: '/delComment',
                type: "post",
                data: {checkId: checkId},
                success: function (res) {
                    if(res.code == 0){
                        object.del();
                        layer.close(index);
                    }
                    layer.msg(res.msg);
                }
            })
        }

        table.on('tool(myTable)',function (object) {
            layer.confirm('真的要删除吗',function (index) {
                let checkId = object.data.id;
                $.ajax({
                    url: '/delComment',
                    type: "post",
                    data: {checkId: checkId},
                    success: function (res) {
                        if(res.code == 0){
                            object.del();
                            layer.close(index);
                        }
                        layer.msg(res.msg);
                    }
                })
            })
        })

    });
</script>
</body>
</html>
